<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
   
<body>
    <header>
        HI This is fetch through Layout Page 
    </header>
        @RenderBody()
    <footer>
        <a href="/Home/Contact"> Contact </a>
        <a href="/Home/Index"> Index </a>
        <a href="/Home/Register"> Register </a>
    </footer>
</body>
</html>