
@{
    ViewBag.Title = "More";
}
<table>
    <thead>
        <h2>Registeration Page </h2>
    </thead>
    <tbody>
        <tr>
            <div>
            <td>
                <label>Name :  </label>
            </td>
            <td>
                <input type="text" placeholder="    Enter Name">
            </td>
            </div>
        </tr>

        <tr>
            <div>
            <td>
                <label>Gender :  </label>
            </td>

            <td>
                <input type="radio" name="gender">
                <label>Male </label>
                <input type="radio" name="gender">
                <label>Female </label>
            </td>
            </div>
        </tr>

        <tr>
            <div>
            <td>
                <label>Age :  </label>
            </td>

            <td>
                <input type="number" placeholder=" Type your age ">
            </td>
            </div>
        </tr>

        <tr>
            <div>
            <td>
                <label>Date of Birth :  </label>
            </td>
            <td>
                <input type="date" placeholder="">
            </td>
            </div>
        </tr>


        <tr>
            <div>
            <td>
                <label>Profile Pic :  </label>
            </td>
            <td>
                <input type="file">
            </td>

            </div>
        </tr>

        <tr>
            <div>
            <td>
                <label>Email :  </label>
            </td>
            <td>
                <input type="email" placeholder="abc@gmail.com">
            </td>
            </div>
        </tr>


        <tr>
            <div>
            <td>
                <div><label>Interest : </label></div>
            </td>
            <td>
                <input type="checkbox">
                <label>Web Developement </label>
                <input type="checkbox">
                <label>App Developement </label>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="checkbox">
                <label>Blockchain Developement </label>
                <input type="checkbox">
                <label>Cloud Computing </label>
            </td>
            </div>
        </tr>

        <tr>
            <div>
            <td>
                <label>Password : </label>
            </td>
            <td>
                <input type="password" placeholder=" must contains #$%*">
            </td>
            </div>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <input type="submit" />
                <input type="reset" />
            </td>
        </tr>
    </tbody>
</table>


<table border="1">
    <thead> <h2>Date of Final Examination</h2></thead>
    <tbody>
        <tr>
            <td>Date </td>
            <td>Day </td>
            <td>Paper </td>
        </tr>
   <tr>
            <td>10-12-22 </td>
            <td>Friday </td>
            <td>English </td>
        </tr>
   <tr>
            <td>11-12-22 </td>
            <td>Satursday </td>
            <td>Urdu </td>
        </tr>
   <tr>
            <td>12-12-22 </td>
            <td>Sunday </td>
            <td>Physics </td>
        </tr>
   <tr>
            <td>13-12-22 </td>
            <td>Monday </td>
            <td>Programming </td>
        </tr>
    </tbody>
</table>